In [126]:
# Import libraries
import pandas as pd

def data_input(csv) -> pd.DataFrame:
    return pd.read_csv(csv)
    
def data_info(data:pd.DataFrame) -> pd.DataFrame:
    return data.info()
    
def data_describe(data) -> pd.DataFrame:
    return data.describe().T
    
def data_isnull(data) -> pd.DataFrame:
    return data.isnull().sum().to_frame().rename(columns={0: 'null_count'})

def data_type(data):
    data = data.dtypes
    return data

def data_count(data):
    count_dict = {}
    for column in data.columns:
        count_dict[column] = [data.shape[0]]
    df = pd.DataFrame(count_dict).T.rename(columns={0: 'entry_count'})
    df['data_type'] = data_type(data)
    return df

In [129]:
data = data_input('submission.csv')

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]